<ion-view title="New reed">
    <ion-content>
        <form ng-submit="create()">

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Code</span>
                    <input type="text" ng-model="reed.code" required>
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Instrument</span>
                    <ion-autocomplete ng-model="reed.instrument" items-method="filterInstruments(query)" />
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Color</span>
                    <ion-autocomplete ng-model="reed.color" items-method="filterColors(query)" />
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Staple name</span>
                    <input type="text" ng-model="reed.staple.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Staple length</span>
                    <input type="text" ng-model="reed.staple.length">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Cane name</span>
                    <input type="text" ng-model="reed.cane.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cane gouge</span>
                    <input type="text" ng-model="reed.cane.gouge">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cane shape</span>
                    <input type="text" ng-model="reed.cane.shape">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Binding date</span>
                    <input type="date" ng-model="reed.binding_date">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Scraping date</span>
                    <input type="date" ng-model="reed.scraping_date">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Scraping type</span>
                    <select ng-model="reed.scraping_type">
                        <option selected>Profiled</option>
                        <option>Handmade</option>
                    </select>
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <textarea ng-model="reed.notes" placeholder="Notes" rows="4"></textarea>
                </label>
            </div>

            <div class="padding">
                <button type="submit" class="button button-block button-positive">Create</button>
            </div>
        </form>
    </ion-content>
</ion-view>
