<ion-view title="{{ reed.code }} ({{ reed.color }})">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-trash-b" ng-click="delete()"></button>
    </ion-nav-buttons>
    <ion-content>
        <form ng-submit="create()">

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Instrument</span> {{instrument.name}}
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Staple name</span>
                    <h2>{{ reed.staple.name }}</h2>
                </label>

                <label class="item item-input">
                    <span class="input-label">Staple length</span>
                    <h2>{{ reed.staple.length }}</h2>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Cane name</span>
                    <h2>{{ reed.cane.name }}</h2>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cane gouge</span>
                    <h2>{{ reed.cane.gouge }}</h2>
                </label>
                <label class="item item-input">
                    <span class="input-label">Cane shape</span>
                    <h2>{{ reed.cane.shape }}</h2>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Binding date</span>
                    <h2>{{ reed.binding_date }}</h2>
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Scraping date</span>
                    <h2>{{ reed.scraping_date }}</h2>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Scraping type</span>
                    <h2>{{ reed.scraping_type }}</h2>
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <textarea ng-change="update()" ng-model="reed.notes" placeholder="Notes" rows="4"></textarea>
                </label>
            </div>

            <div class="list list-inset">
                <label class="item item-input">
                    <span class="input-label">Diameter</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.diameter">
                </label>
                <label class="item item-input">
                    <span class="input-label">Hardness</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.hardness">
                </label>
                <label class="item item-input">
                    <span class="input-label">Density</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.density">
                </label>
                <label class="item item-input">
                    <span class="input-label">Elasticity</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.elasticity">
                </label>
                <label class="item item-input">
                    <span class="input-label">Age</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.age">
                </label>
                <label class="item item-input">
                    <span class="input-label">Ratio</span>
                    <input type="text" ng-change="update()" ng-model="reed.cane.ratio">
                </label>
            </div>

            <div class="list list-inset">
                <div class="item range range-positive">
                    <p>Sound ({{ reed.ratings.sound }})</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.sound" min="0" max="10" value="5">
                </div>
                <div class="item range range-positive">
                    <p>Intonation ({{ reed.ratings.intonation }})</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.intonation" min="0" max="10" value="5">
                </div>
                <div class="item range range-positive">
                    <p>Pitch ({{ reed.ratings.pitch }})</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.pitch" min="0" max="10" value="5">
                </div>
                <div class="item range range-positive">
                    <p>Response ({{ reed.ratings.response }})</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.response" min="0" max="10" value="5">
                </div>
                <div class="item range range-positive">
                    <p>Stability ({{ reed.ratings.stability }})</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.stability" min="0" max="10" value="5">
                </div>
                <div class="item range range-positive">
                    <p>Open</p>
                    <input type="range" ng-change="update()" ng-model="reed.ratings.aperture" min="0" max="10" value="5">
                    <p>Closed</p>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
