.pane {
  background-color: #f7f8fc;
}

.done {
  text-decoration: line-through;
}

.card {
  box-shadow: none;
  &.red {
    border-left: 3px #f00 solid
  }
}

.guide {
  width:7%;
  color: #999;
  font-size: 12px;
}

.align-right {
  text-align: right;
}

.instrument {
  float:right;
}

.info {
  font-size: 12px;
  color: #999;
}