.pane {
  background-color: #f7f8fc;
}

.done {
  text-decoration: line-through;
}

.card {
  box-shadow: none;
  &.red {
    border-left: 3px #ef4e3a solid;
  }
  &.blue {
    border-left: 3px #387ef5 solid;
  }
  &.lilac {
    border-left: 3px #886aea solid;
  }
}

.guide {
  width:7%;
  color: #999;
  font-size: 12px;
}

.align-right {
  text-align: right;
}

.instrument {
  float:right;
}

.info {
  padding-top:15px;
  font-size: 12px;
  color: #666;
}